.container-nav{    
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;

    width: 100%;
    height: 4rem;

    color: #f0f0f0;

}
.container-nav a{
    color: #fff;
    text-decoration: none;
}

.glass{
     background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
}

#btn-area{
    display: flex;
    gap: 1.1em;
}

button{
    width: 8em;
    height: 2.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    z-index: 1;
    transition: all 0.2s;
}
button:hover{
    color: #121212;
    background-color: #f0f0f0
}

.btn-s{
    background-color: #E74703;
    transition: all 0.2s;
}

.btn-s:hover{
    background-color: #fc2200;
}

.btn-s:hover{
    background-color: #fc2200;
}
